* {
    margin: 0;
    padding: 0;
    color: white
}

h1 {
    font-size: 6vh;
}

header {
    height: 20vh;
}

body {
    display: flex;
    flex-direction: column;
}

.guia-de-cores {
    color: rgb(255, 145, 77);
    color: rgb(255, 189, 89);
    color: rgb(255, 255, 255);
}

#div-da-main {
    background-color: rgb(255, 189, 89);
    max-width: 100vw;
    height: 80vh;
}

#div-tela {
    text-align: center;
    display: flex;
    flex-direction: row;
}

#slogan {
    margin-top: 12vh;
    margin-right: 2vh;
    margin-left: 2vh
}

#img-main {
    margin: 8vh;
    height: 50vh;
    opacity: 80%;
    border: 3vw solid rgba(255, 145, 77, .2);
}

#frase {
    margin-top: 4vh;
}

#cadastro {
    background-color: rgb(255, 145, 77);
    margin-top: 4vh;
    height: 10vh;
    width: 20vw;
    font-size: large;
    border: none;
    color: white;
    border-radius: 4px;
    box-shadow: inset 0 0 0 0 rgb(212, 112, 49);
    transition: ease-out 0.3s;
    outline: none;
}

#cadastro:hover {
    box-shadow: inset 20vw 0 0 0 rgb(212, 112, 49);
}

@media screen and (max-device-width: 800px) {
    #div-da-main {
        background-color: rgb(255, 189, 89);
        max-width: 100vw;
        width: 100vw;
        height: 100vh;
    }
    #cadastro {
        background-color: rgb(255, 145, 77);
        margin-top: 4vh;
        height: 15vh;
        width: 25vw;
        font-size: large;
        border: none;
        color: white;
        border-radius: 4px;
        box-shadow: inset 0 0 0 0 rgb(212, 112, 49);
        transition: ease-out 0.3s;
        outline: none;
    }
    #slogan {
        width: 100vw;
        height: 80vh;
    }
    #img-main {
        height: 20vh;
        opacity: 80%;
        border: 3vw solid rgba(255, 145, 77, .2);
    }
    #div-img {
        display: none;
    }
}


/* HEADER */


/* body,
ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.logo {
    height: 10vh;
}

.menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100vw;
    height: 10vh;
    background-color: rgb(255, 145, 77);
    font-family: sans-serif;
}

.menu {
    padding: 10px;
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
}

.lista {
    display: flex;
}

.home,
.contatos,
.somos {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 40px;
    color: white;
    font-size: 21px;
    font-weight: bold;
}

li:hover {
    cursor: pointer;
    color: rgb(255, 189, 89);
    opacity: 1;
    transition: 0.5s
}

.botao-minha-conta {
    height: 50px;
    width: 100px;
    margin-right: 2%;
    background-color: rgb(255, 145, 77);
    border-style: initial;
    border: 1px solid white;
    color: white;
    cursor: pointer;
}

.botao-minha-conta:hover {
    background-color: rgb(255, 189, 89);
    opacity: 1;
    transition: 0.5s;
}


/* Mobile header */


/*@media screen and (max-width: 800px) {
    .menu-header,
    .lista {
        display: grid;
        flex-direction: column;
        grid-template-columns: 3, 1fr;
        grid-template-rows: 1;
        height: 15vh;
        width: 100%;
        margin-top: 2px;
    }
    .home,
    .contatos,
    .somos {
        margin-left: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .botao-minha-conta {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        margin-left: 10px;
        margin-bottom: 20px;
        height: 40px;
        width: 40%;
        display: flex;
    }
    img {
        height: 30vh;
        width: 40vw;
    }
}*/