* {
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(255,145,77);
}

main {
    background-color: rgb(255,189,89);
}

footer {
    background-color: rgb(255,145,77);
    color: white;
    height: 70px;
    padding-bottom: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}
footer img {
    width: 20px;
}

.redes-sociais {
    text-align: center;
}

.atendimento-1 {
    text-align: center;
}

.atendimento-2 {
    text-align: center;
}

