* {
    margin: 0;
    padding: 0;
    color: white
}

h1 {
    font-size: 6vh;
}

header {
    height: 20vh;
}

body {
    display: flex;
    flex-direction: column;
}

.guia-de-cores {
    color: rgb(255, 145, 77);
    color: rgb(255, 189, 89);
    color: rgb(255, 255, 255);
}

#div-da-main {
    background-color: rgb(255, 189, 89);
    max-width: 100vw;
    height: 80vh;
}

#div-tela {
    text-align: center;
    display: flex;
    flex-direction: row;
}

#slogan {
    margin-top: 12vh;
    margin-right: 2vh;
    margin-left: 2vh
}

#img-main {
    margin: 8vh;
    height: 50vh;
    opacity: 80%;
    border: 3vw solid rgba(255, 145, 77, .2);
}

#frase {
    margin-top: 4vh;
}

#cadastro {
    background-color: rgb(255, 145, 77);
    margin-top: 4vh;
    height: 10vh;
    width: 20vw;
    font-size: large;
    border: none;
    color: white;
    border-radius: 4px;
    box-shadow: inset 0 0 0 0 rgb(212, 112, 49);
    transition: ease-out 0.3s;
    outline: none;
}

#cadastro:hover {
    box-shadow: inset 20vw 0 0 0 rgb(212, 112, 49);
}

@media screen and (max-device-width: 800px) {
    #div-da-main {
        background-color: rgb(255, 189, 89);
        max-width: 100vw;
        width: 100vw;
        height: 100vh;
    }
    #cadastro {
        background-color: rgb(255, 145, 77);
        margin-top: 4vh;
        height: 15vh;
        width: 25vw;
        font-size: large;
        border: none;
        color: white;
        border-radius: 4px;
        box-shadow: inset 0 0 0 0 rgb(212, 112, 49);
        transition: ease-out 0.3s;
        outline: none;
    }
    #slogan {
        width: 100vw;
        height: 80vh;
    }
    #img-main {
        height: 20vh;
        opacity: 80%;
        border: 3vw solid rgba(255, 145, 77, .2);
    }
    #div-img {
        display: none;
    }
}

a{
    text-decoration-line: none;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: sans-serif;
}

header {
    display:            flex;
    justify-content:    space-evenly;
    align-items:        center;
    max-width:          100vw;
    height:             6vh;
    background-color: rgb(255, 145, 77);
    padding:            10px;
}


#segunda-tela{

    background-color: rgb(255, 145, 77);

    height:     80vh;
}

#terceira-tela{
    height:     80vh;
    background-color: rgb(255, 189, 89);
}

.menu {
    display: none;
}

.img-header {
    margin-top: 1vh;
    height: 10vh;
}

nav {
    padding: 10px;
    display: flex;
    width: 80%;
    align-items: center;
}

ul {
    display: flex;
}

li {
    padding: 5px;
    margin: 40px;
    color: white;
    font-size: 21px;
    font-weight: bold;
}

li:hover {
    cursor: pointer;
    color:  yellow;
    opacity: 30%;
}

.botao-minha-conta {
    background-color: rgb(255, 189, 89);
    height: 50px;
    width: 120px;
    margin-right: 20px;
    border: 1px solid white;
    color: white;
}

.botao-minha-conta:hover {
    background-color: rgb(219, 158, 66);
    color: white;
    
}


h1{
    font-size:          6vh;
}

body{

    display:            flex;
    flex-direction:     column;

}

main {
    background-color: rgb(255,189,89);
}

#div-da-main{
    background-color:   rgb(255,189,89);

    max-width:              100vw;
    height:                 80vh;
}

#div-tela{
    text-align:             center;
    display:                flex;
    flex-direction:         row;


}

#slogan{
    margin-top:             12vh;
    margin-right:           2vh;
    margin-left:            2vh
}

#img-main{
    margin:                 8vh;
    height:                 50vh;
    opacity:                80%;
    border:                 3vw solid rgba(255,145,77, .2);
}

#frase{
    margin-top:             4vh;
}

#cadastro{

    background-color:       rgb(255,145,77);  
    margin-top:             4vh;
    height:                 10vh;
    width:                  20vw;
    font-size:              large;

    border:                 none;
    color:                  white;
    border-radius:          4px;
    box-shadow:             inset 0 0 0 0 rgb(212,112,49);
    transition:             ease-out 0.3s;
    outline:                none;

}

#cadastro:hover{
    box-shadow:             inset 20vw 0 0 0 rgb(212, 112, 49);

}


footer {
    background-color: rgb(255,145,77);
    color: white;
    height: 15vh;
    padding-bottom: 1vh;
    padding-top:    1vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}
footer img {
    width: 20px;
    height: auto;
    margin-top: 1vh;
}

.redes-sociais {
    text-align: center;
}

.atendimento-1 {
    text-align: center;
}

.atendimento-2 {
    text-align: center;
}

.margem {
    margin-left: 5px;
}

.botao-menu {
    display: none;  
}

#segunda-tela{
    display:flex;
    background-color: white;
    color:          rgb(255, 145, 77);
}

#frase{
    margin-left:    10vw;
    margin-top: 10vh;

    color:rgb(255, 145, 77);
}

#img-cartao{
    margin-left: 30vw;
    margin-top: 10vh;
    height:     40vh;
}

#div-cartao{
    align-items: center;
    height:     20vh;
}

.fonte-laranja{
    text-align: center;
    color:rgb(255, 145, 77);
}

@media screen and (max-device-width: 800px) {
    footer {
        display: flex;
        flex-direction: column;
        height: 200px;
        padding: 10px;
    }

    h4 {
        color: black
    }

    .nome {
        color: black;
        text-align: center;
    }

    #div-da-main{
        background-color:   rgb(255,189,89);
        max-width:              100vw;
        width:                  100vw;
        height:                 100vh;
    }


    #cadastro{

        background-color:       rgb(255,145,77);  
        margin-top:             4vh;
        height:                 15vh;
        width:                  25vw;
        font-size:              large;

        border:                 none;
        color:                  white;
        border-radius:          4px;
        box-shadow:             inset 0 0 0 0 rgb(212,112,49);
        transition:             ease-out 0.3s;
        outline:                none;

    }

    #slogan{

        width:                  100vw;
        height:                 80vh;
    }


    #img-main{
        height:                 20vh;
        opacity:                80%;
        border:                 3vw solid rgba(255,145,77, .2);
    }

    #div-img{
        display: none;

    }

    ul {
        display: none;
    }

    
    .botao-minha-conta {
        height: 30px;
        width: 100px;
    }
    .botao-menu {
        height: 30px;
        width: 100px;
    }

    #segunda-tela{
        background-color: white;
        color:          rgb(255, 145, 77);
    }

    #frase{
        color:rgb(255, 145, 77);
    }

    #img-cartao{
        margin-left: -50vw;
        margin-top: 50vh;
        height:     25vh;
    }

    #div-cartao{
        align-items: center;
        height:     20vh;
    }
    
    .fonte-laranja{
        text-align: center;
        color:rgb(255, 145, 77);
    }

}

